/* ========= HEADER ========= */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 20px 20px;

  z-index: 10;
  /* EFEITO: Transição suave para o caso de mudança de cor ou sombra */
  transition: all 0.3s ease;
}

.logo {
  height: 55px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #2b2b4a;
  font-size: 0.9rem;
  font-weight: 600;
  /* EFEITO: Transição suave para o hover */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #004ecb;
}

/* ========= CERTIFICAÇÕES ========= */
.certifications {
  position: absolute;
  top: 80px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 9;
}

.certifications-list {
  display: flex;
  gap: 10px;
}

.certification-text {
  background: #e3e6ea;
  color: #333;
  padding: 5px 14px;
  border-radius: 0px 0px 5px 5px;
  font-size: 0.75rem;
  font-weight: 600;
}