@import "tailwindcss";

@keyframes roadMove {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -40; }
}

.animate-road {
  animation: roadMove 2s linear infinite;
}

body {
  background-color: var(--color-blue-800) /* oklch(42.4% 0.199 265.638) = #193cb8 */;
}

html {
  scroll-behavior: smooth;
}

